[user]
    name = Umang Yadav
    email = umayadav@amd.com

[init]
    defaultBranch = main

[core]
	editor=vim

[alias]
    c = commit -v
    co = checkout
    cob = checkout -b
    st = status
    br = branch
    d = diff
    dd = diff --cached
    l = log --oneline --graph
    cp = cherry-pick
    ps = push
    pl = pull
    pb = pull --rebase

[diff]
    tool=vimdiff
    colorMoved = default
[credential]
	helper = "!f() { /home/umayadav/.vscode-server/bin/f1b07bd25dfad64b0167beb15359ae573aecd2cc/node /tmp/vscode-remote-containers-1ecf42cd-d55c-460e-a8ee-b7046b69cc5b.js git-credential-helper $*; }; f"
[safe]
	directory = /home/umayadav/repo/AMDMIGraphX
	directory = /home/umayadav/repo/composable_kernel
	directory = .
	directory = /home/umayadav/repo/MIOpen
